[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==0.30.0"
async-worker = "==0.11.1"
aiologger = "==0.5.0"
aioelasticsearch = "==0.5.2"

[dev-packages]
asynctest = "==0.12.1"
pytest = "==5.2.1"
pytest-cov = "==2.8.1"
codecov = "==2.0.15"
mypy = "==0.630"
black = "==18.9b0"
isort = {extras = ["pipfile"],version = "==4.3.15"}
lxml = "==4.6.2"
asgard-events-indexer = {editable = true,path = "."}
ipython = "*"
ipdb = "*"
aioresponses = "==0.6.1"
freezegun = "==0.3.12"

[requires]
python_version = "3.7"

[scripts]
test = "py.test -sv --cov=indexer --cov-report term-missing"
lint = "mypy indexer --ignore-missing-imports --html-report .mypy"
fmt = "black --py36 -v --line-length 80 ."
fmt-check = "black --py36 -v --line-length 80 --check ."
isort-fmt = "isort --apply --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
isort-check = "isort --check-only --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
